@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>        
       
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="login" class="btn btn-primary">Login</a>
            <a href="signUp" class="btn btn-primary">Sign Up</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
